@import url('https://fonts.googleapis.com/css?family=Raleway');
.header-logo {
  display: flex;
  align-items: center;
}
.logo-name {
  color: #7cb342;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-left: 19px;
}
