.header {
  height: 75px;
  background: #fff;
  box-shadow: 0 0 10px rgba(43,102,176,0.5);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  max-width: 1565px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
